body {
	font-family: arial;
	font-size: 17px;
	margin: 10px;
}

.input {
	Width :50px ;
}
button:hover 
{ 
	font-family : verdana;
	font-size : 12pt ;
	color:brown;
}	
fieldset
{
	display:inline-block;
}        
